.logo img{
	margin:0px 0% 0px 5%;
	width: 30%;
	border-radius: 20%;
	animation:fadenum 4s;
	
	}
	@keyframes fadenum{
	  0%{transform:translateX(200%);}
}
.bg{
	background-color: #ffffff; /* 浏览器不支持时显示 */
	background-image: linear-gradient(#aaff00, #fff);
}

table img{
	border-radius: 20%;
}

.text2{
	background-color: #ffffff; /* 不支持线性的时候显示 */
	background-image: linear-gradient(to right, #aaff00 , #fff);
}

.religion{
	text-align: center;
	font-family: 宋体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.Buddhism{
	width: 45%;
	background: #ffff00;
	margin:10px 10px 10px 0px;
}

.Taoism{
	width: 45%;
	background-image: linear-gradient(#fff, #000);
	margin:10px 0px 10px 0px;
}

.qq{
	text-align: center;
	font-family: 宋体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}


.phone{
	text-align: center;
	font-family: 宋体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.mail{
	text-align: center;
	font-family: 宋体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.home{
	text-align: center;
	font-family: 宋体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}