@font-face
{
	font-family: 平方塞北体;
	src: url('平方塞北体.ttf'); 
}

.logo img{
	margin:0px 0% 0px 5%;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	animation:fadenum 4s;
	
	}
	@keyframes fadenum{
	  0%{transform:translateX(200%);}
}
.bg{
	background-color: #ffffff; /* 浏览器不支持时显示 */
	background-image: linear-gradient(#aaff00, #fff);
}

.text2{
	background-color: #ffffff; /* 不支持线性的时候显示 */
	background-image: linear-gradient(to right, #aaff00 , #fff);
}

.text2 p{
	
	font-size: 20px;
}

.religion{
	text-align: center;
	font-family: 平方塞北体;
	width: 50%;
	height: 50%;
	font-size: 50px;
	color: #00ff00;
	text-shadow: 5px 10px 15px #ffff00;
}

.Buddhism{
	width: 45%;
	background: #ffff00;
	margin:10px 10px 10px 0px;
	border-radius: 20px;
    box-shadow:2px 6px 50px #ffff00;
}

.Taoism{
	width: 45%;
	background-image: linear-gradient(#fff, #000);
	margin:10px 0px 10px 0px;
	border-radius: 20px;
	box-shadow:2px 6px 50px #000;
}

.qq{
	text-align: center;
	background-color: #55aaff;
}

.qqh1{
	text-align: center;
	border: #55aaff;
	border-style: double;
	padding: 6px 0px 4px 1px;
	margin: 1px 0px 6px 1px;
	border-radius: 10px;
	
}

.qqimg{
	width: 50px;
}

.vk{
	text-align: center;
	background-color: #55aaff;
}

.vkh1{
	text-align: center;
	border: #55aaff;
	border-style: double;
	padding: 6px 0px 4px 1px;
	margin: 1px 0px 6px 1px;
	border-radius: 10px;
}

.vkimg{
	width: 50px;
}

.phone{
	text-align: center;
	font-family:平方塞北体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.mail{
	text-align: center;
	font-family:平方塞北体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.home{
	text-align: center;
	font-family:平方塞北体;
	width: 50%;
	height: 50%;
	font-size: 50px;
}

.address{
	background-image: url('../images/address.png');
	background-size: 100%;
	padding: 20px;
	background-position:center center;
}

.address1{
	width:50px;
	height:50px;
}

.address2{
text-align: center;
}