.container {
  position: relative;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}
.slide2 {
  height: 100vh;
  scroll-snap-align: center;
}



/* Simple coloration */
body {
  margin: 0;
}
.slide {
  font-family: sans-serif;
  background: #ffffff;
  color: #F34A4E;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
.slide2 {
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}











.slide:nth-child(2n) {
  background: #ffffff;
  color: #000000;
}
